
  
  <ion-content>
    <div class="container">
      <div class="header">
        <img src="/assets/images/logo-shop.jpg" style="border-radius: 50%;" class="header-image">
      </div>
      <div class="title">
        <h1>CLOTHES SHOP</h1>
      </div>
      <div class="buttons">
        <ion-button expand="block" color="light" routerLink="/login">inicia sesion</ion-button>
        <ion-button expand="block" color="light" routerLink="/logout">registro</ion-button>
      </div>
    </div>
  </ion-content>


